*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    width: 33%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px transparent;
    border-radius: 10px;
    flex-direction: column;
    padding: 0 0 5vh 0;
}

.to-do-app{
    width: 100%;
    /* height: auto; */
    padding: 20px;
    padding-bottom: 0px;
    display: flex;
    margin-left: 50px;
}

.to-do-app h2{
    padding: 2px;
}

.to-do-app img{
    width: 2rem;
    height: auto;
    margin-bottom: 20px;
    padding: 0px 0px 0px 10px;
}

input::placeholder {
    opacity: 0.5;
    /* padding: 10px; */
    margin: 5px;
}

/* input {
    padding: 10px; /* Add padding to the input field itself 
} */
  

input[type="text"]{
    width: 70%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0px 40px;
    /* margin-bottom: 20px; */
}

.search{
    width: 100%;
    display: flex;
    justify-content: center;

}

.search button{
    position: absolute;
    /* left: 916px; */
    left: 56.7%;
    height: 41.5px;
    width: 120px;
    background-color: red;
    border: none;
    border: 1px transparent;
    border-radius: 20px;
    color: #fff;
}

.space{
    margin-bottom: 30px;
}

.tasks{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; */
}

ul{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

li{
    list-style: circle;
    size: 2vh;
} 
/* {
    color: red;
} */ 

.task1{
    display: flex;
    align-items: center;
    justify-self: flex-start;
}