body{
    background-color: navy;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.active{
    transform: rotateY(180deg);
}

.front .back{
    position: relative;
    visibility: hidden;
}

.gra-circles{
    width: 100vh;
    height: 100%;
    position: absolute;
}

.c1{
    background: linear-gradient(90deg, #0000ff, #00ff00);
    height: 300px;
    width: 300px;
    position: relative;
    left: 0%;
    top: 15%;
    z-index: -1;
    border-radius: 50%;
}

.c2{
    background: linear-gradient(90deg, #0000ff, #00ff00);
    height: 300px;
    width: 300px;
    position: absolute;
    left: 65%;
    top: 45%;
    z-index: -1;
    border-radius: 50%;
}

#main-card{
    transform-style: preserve-3d;
    transition: transform 0.6s;
    padding: 5px;
    height: 350px;
    width: 600px;
    border: 1px transparent;
    border-radius: 45px;
    background-color: rgba(255, 255, 255, 0.29);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.29);
    backdrop-filter: blur(20px);
    border: 1 px solid rgba(255, 255, 255, 0.18);
}

.top{
    display: flex;
    justify-content: start;
    padding: 20px 35px 20px 35px;
    align-items: center;
    /* background-color: #fff; */
    height: 100px;
    width: 90%;
}

.top p{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-family: sans-serif;
    padding: 0px 0 0 20px;
}

.chp{
    padding: 0px 0 0 210px;
}

.mid{
    height: 70px;
    width: 90%;
    /* background-color: green; */
    padding: 20px 35px 20px 35px;
}

.name{
    font-family: sans-serif;
    font-size: 0.9rem;
    padding-bottom: 7px;
    color: white;
    opacity: 0.9;
}

.card-no{
    font-family: sans-serif;
    font-size: 1.9rem;
    /* font-weight: 600; */
    color: #fff;
    opacity: 0.9;
}

.bottom{
    display: flex;
    justify-content: space-between;
    padding: 10px 35px 0px 35px;
    align-items: center;
    /* background-color: #fff; */
    height: 50px;

    width: 85%;
}

.bottom p{
    font-size: 1.9rem;
    /* font-weight: 600; */
    opacity: 0.9;
    color: #fff;
    font-family: sans-serif;
}

.valid{
    color: white;
    opacity: 0.9;
    font-size: 1rem;
    font-family: sans-serif;
}