body{
    background-color: navy;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    perspective: 1000px;
}

.active{
    transform: rotateY(180deg);
}


.gra-circles{
    width: 100vh;
    height: 100%;
    position: absolute;
}

.c1{
    background: linear-gradient(90deg, #0000ff, #00ff00);
    height: 300px;
    width: 300px;
    position: relative;
    left: 0%;
    top: 15%;
    z-index: -1;
    border-radius: 50%;
}

.c2{
    background: linear-gradient(90deg, #0000ff, #00ff00);
    height: 300px;
    width: 300px;
    position: absolute;
    left: 65%;
    top: 45%;
    z-index: -1;
    border-radius: 50%;
}

.flip-container {
    perspective: 1000px;
}

.flipper {
    position: relative;
    width: 550px;
    height: 400px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flipped {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    /* background-color: #f0f0f0; */
    background-color: rgba(255, 255, 255, 0.29);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.29);
    backdrop-filter: blur(20px);
    /* -webkit-backdrop-filter: blur(5px); */
    border: 1 px solid rgba(255, 255, 255, 0.18);
    padding: 5px;
    height: 350px;
    width: 600px;
    border: 1px transparent;
    border-radius: 45px;
}

.back {
    background-color: rgba(255, 255, 255, 0.29);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.29);
    backdrop-filter: blur(20px);
    /* -webkit-backdrop-filter: blur(5px); */
    border: 1 px solid rgba(255, 255, 255, 0.18);
    /* padding: 5px; */
    height: 350px;
    width: 600px;
    border: 1px transparent;
    border-radius: 45px;
    transform: rotateY(180deg);
}

.b1 {
    padding: 12px 10px 10px 29px;
    font-family: sans-serif;
    color: white;
    opacity: 0.9;
    font-size: 0.9rem;
}



.b2{
    width: 100%;
    height: 20%;
    background-color: black;
}

.b3{
    height: 25%;
    /* background-color: green; */
    width: 100%;
    padding: 0 0 0 25px;
    display: flex;
    align-items: center;
}

.cvv p{
    color: white;
    font-family: sans-serif;
}

.b4{
    color: white;
    padding: 0 25px 0 25px;
    font-family: sans-serif;
    font-size: 0.8rem;
}

.white{
    width: 80%;
    height: 50%;    
    background-color: white;
    border: 1px transparent;
    border-radius: 8px;
}

#main-card{
    /* padding: 5px;
    height: 350px;
    width: 600px;
    border: 1px transparent;
    border-radius: 45px; */
    /* background-color: rgba(255, 255, 255, 0.29);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.29);
    backdrop-filter: blur(20px);
    border: 1 px solid rgba(255, 255, 255, 0.18); */
}



.top{
    display: flex;
    justify-content: start;
    padding: 20px 35px 20px 35px;
    align-items: center;
    /* background-color: #fff; */
    height: 100px;
    width: 90%;
}

.top p{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-family: sans-serif;
    padding: 0px 0 0 20px;
}

.chp{
    padding: 0px 0 0 210px;
}

.mid{
    height: 70px;
    width: 90%;
    /* background-color: green; */
    padding: 20px 35px 20px 35px;
}

button{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    border: none;
}

.name{
    font-family: sans-serif;
    font-size: 0.9rem;
    padding-bottom: 7px;
    color: white;
    opacity: 0.9;
}

.card-no{
    font-family: sans-serif;
    font-size: 1.9rem;
    /* font-weight: 600; */
    color: #fff;
    opacity: 0.9;
}

.bottom{
    display: flex;
    justify-content: space-between;
    padding: 10px 35px 0px 35px;
    align-items: center;
    /* background-color: #fff; */
    height: 50px;

    width: 85%;
}

.bottom p{
    font-size: 1.9rem;
    /* font-weight: 600; */
    opacity: 0.9;
    color: #fff;
    font-family: sans-serif;
}

.valid{
    color: white;
    opacity: 0.9;
    font-size: 1rem;
    font-family: sans-serif;
}